.git
.github
.next
node_modules
coverage
logs
movies
series
.scannerwork
.sonar
**/.sonar
.swc
.vscode
.idea
.env
.env.*
!.env.example
!.env_production.example
**/__tests__
**/*.test.*
**/*.spec.*
*.log
*.md
!CHANGELOG.md
*.ps1
*.sh
tsconfig.tsbuildinfo
ansible
