{
  admin off
}

{$HTTPS_HOST:netflix} {
  tls internal
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  reverse_proxy app:3000
}
