@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full overflow-x-hidden bg-zinc-900;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Revert text color */
  -webkit-text-fill-color: white !important;
  color: white !important;
  caret-color: white !important;

  /* Revert background color */
  transition: background-color 5000s ease-in-out 0s;
}
